<div class="bg-white rounded-2xl shadow overflow-hidden">

    <!-- HEADER -->
     <div class="px-6 py-4 border-b bg-slate-50 flex items-center justify-between">

        <h2 class="text-lg font-semibold text-slate-700">
            {{ table_title }}
        </h2>

        <a
            @click.prevent="openForm"
            x-show="!isFormOpen"
            href="{{ create_url }}"
            class="
                inline-flex items-center gap-2
                bg-blue-600 hover:bg-blue-700
                text-white text-sm font-medium
                px-4 py-2 rounded-md
                transition
            "
        >
            <ion-icon name="add-outline" class="text-lg"></ion-icon>

            
        </a>
    </div>

    <!-- TABLE -->
    <div class="overflow-x-auto">

        <table class="min-w-full text-sm text-left">

            {% include 'core/components/tables/thead.html' with headers=headers %}

            <tbody>

                {% for row in rows %}

                    <tr class="border-t hover:bg-slate-50">

                        <!-- CELLS -->
                        {% for cell in row.cells %}
                            {% include 'core/components/tables/td_cell.html' with cell=cell %}
                        {% endfor %}

                        <!-- ACTIONS -->
                        <td class="px-4 py-3">

                            <div class="flex gap-2">
                                <!-- <button
                                    @click="openModal('{{ row.cells.1 }}', '{{ row.cells.2 }}')"
                                    class="bg-blue-600 text-white px-3 py-1 rounded"
                                >
                                    Add Kehadiran
                                </button> -->
                                

                                {% for action in row.actions %}

                                    <a
                                        data-action-type="{{ action.action_type }}"
                                        @click.prevent="handleClickAction($event.currentTarget)"
                                        href="{{ action.url }}"
                                        class="
                                            px-3 py-1 rounded-lg text-white text-xs

                                            {% if action.color == 'blue' %}
                                                bg-blue-500
                                            {% elif action.color == 'red' %}
                                                bg-red-500
                                            {% elif action.color == 'green' %}
                                                bg-green-500
                                            {% endif %}
                                        "
                                    >
                                        {{ action.label }}
                                    </a>

                                {% empty %}

                                    <span class="text-slate-400">
                                        -
                                    </span>

                                {% endfor %}

                            </div>

                        </td>

                    </tr>

                {% empty %}

                    {% include 'core/components/tables/tr_data_kosong.html' %}

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>