<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">

    <div class="bg-white rounded-xl shadow border p-6">
        <p class="text-sm text-gray-500">Total Siswa</p>
        <h3 class="text-3xl font-bold text-gray-800 mt-2">
            1.250
        </h3>
    </div>

    <div class="bg-white rounded-xl shadow border p-6">
        <p class="text-sm text-gray-500">Siswa Aktif</p>
        <h3 class="text-3xl font-bold text-green-600 mt-2">
            1.050
        </h3>
    </div>

    <div class="bg-white rounded-xl shadow border p-6">
        <p class="text-sm text-gray-500">Siswa Lulus</p>
        <h3 class="text-3xl font-bold text-blue-600 mt-2">
            180
        </h3>
    </div>

    <div class="bg-white rounded-xl shadow border p-6">
        <p class="text-sm text-gray-500">Siswa Nonaktif</p>
        <h3 class="text-3xl font-bold text-red-600 mt-2">
            20
        </h3>
    </div>

</div>